.track-container {
    width: 20%; 
    height: 20%; 
    padding: 10px;
    margin: 5px;
    position: relative;
    float: left;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 100px;

}

.track {
    background: url("app/images/S&Y28.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:800px;
    width: 100%;
    border-radius: 100px;
    position: relative;
    opacity: 0.5;
}

.track-container::hover {
    opacity: 1.0;
}

.track.is-playing {
    opacity: 1.0;
}

.track.is-preview {
    opacity: 1.0;
}

body {
    background: url("app/images/Gg Hh Sketch.jpg");
    background-size: contain;
}



/*animations*/

.track-container:hover .track {
  -webkit-animation: rotating-function 1.25s linear infinite;
     -moz-animation: rotating-function 1.25s linear infinite;
      -ms-animation: rotating-function 1.25s linear infinite;
       -o-animation: rotating-function 1.25s linear infinite;
          animation: rotating-function 1.25s linear infinite;
}



/*keyframes*/

@-webkit-keyframes rotating-function {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotating-function {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes rotating-function {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes rotating-function {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes rotating-function {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
