.track-container {
    width: 100px; 
    height: 100px; 
    padding: 10px;
    margin: 5px;
    position: relative;
    float: left;
    background: #ddd;

    border-radius: 100px;

}

.track {
    background: red;
    width: 100%;
    border-radius: 100px;

}

.track-container::hover {
    background: #aaa;
}

.track.is-playing {
    background: green;
}

.track.is-preview {
    background: yellow;
}